:root {
  --color-1: black;
  --color-2: white;
  --color-3: hsl(44, 100%, 40%);
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

nav {
  /* background-color: #ff5151; */
  background-color: var(--color-3);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  justify-content: flex-end;
  max-height: 90px;
  min-height: 50px;
  z-index: 1;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  width: 50%;
  height: 100%;
  margin: 0;
  /* position: absolute; */
}

nav a {
  text-decoration: none;
  color: white;
  font-size: 1.3rem;
}

.nav-item {
  /* background-color: burlywood; */
  height: 100%;
  padding: 30px 15px;
}

.nav-item:hover {
  /* background-color: #161e54; */
  background-color: var(--color-1);
}

#main-content {
  position: absolute;
  top: 20px;
  margin: 0 0;
  /* background-color: #161e54; */
  background-color: var(--color-1);
  left: 0;
}

#welcome-section {
  height: 100vh;
  /* background-color: #161e54; */
  background-color: var(--color-1);
  margin: 0;
  width: 100vw;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background: linear-gradient(45deg, #222f83, #161e54); */
}

h1 {
  /* color: #ff9b6a; */
  color: var(--color-2);

  font-size: 3rem;
  letter-spacing: 1.5pt;
  padding: 0;
  margin: 0.5rem;
}

#sub-title {
  font-size: 2rem;
  /* color: #88e0ef; */
  color: var(--color-3);
  /* letter-spacing: 2pt; */
  margin: 0;
  padding: 0;
  font-style: italic;
  font-weight: 300;
}

#projects {
  position: relative;
  margin: 0;
  padding: 10rem;
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-template-areas:
    "header header header"
    "content content content";
  justify-content: center;
  gap: 3rem;
  background-color: var(--color-2);
  border-top: 2px solid var(--color-3);
}

@media only screen and (max-width: 800px) {
  #projects {
    padding: 3rem;
    grid-template-columns: 80%;
  }
}

#projects a {
  text-decoration: none;
  font-weight: normal;
  color: var(--color-2);
  text-transform: uppercase;
  display: block;
  background-color: var(--color-3);
  width: 100%;
  text-align: center;
  padding: 1rem 0;
  letter-spacing: 1pt;
  white-space: nowrap;
}

#project-section-title {
  grid-area: header;
  align-self: center;
}

.project-title {
  border: 1px solid var(--color-1);
  border-radius: 5px;
  /* background-color: var(--color-3); */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.screenshot {
  width: 100%;
}
